[submodule "addons/RelEcs"]
	path = addons/RelEcs
	url = https://github.com/Byteron/RelEcs.git
[submodule "addons/RelEcsGodot"]
	path = addons/RelEcsGodot
	url = https://github.com/Byteron/RelEcsGodot.git
